# Alchitry CU
set_io clk P7
set_io n_rst P8
set_io led[0] J11
set_io led[1] K11
set_io led[2] K12
set_io led[3] K14
set_io led[4] L12
set_io led[5] L14
set_io led[6] M12
set_io led[7] N14
set_io usb_rx P14
set_io usb_tx M9

set_io io_led[0] G14
set_io io_led[1] F14
set_io io_led[2] E12
set_io io_led[3] E14
set_io io_led[4] D14
set_io io_led[5] C14
set_io io_led[6] B14
set_io io_led[7] A12
set_io io_led[8] C10
set_io io_led[9] C9
set_io io_led[10] A11
set_io io_led[11] A10
set_io io_led[12] A7
set_io io_led[13] A6
set_io io_led[14] A4
set_io io_led[15] A3
set_io io_led[16] A2
set_io io_led[17] A1
set_io io_led[18] C3
set_io io_led[19] D3
set_io io_led[20] B1
set_io io_led[21] C1
set_io io_led[22] D1
set_io io_led[23] E1
set_io io_dip[0] G12
set_io io_dip[1] F12
set_io io_dip[2] F11
set_io io_dip[3] E11
set_io io_dip[4] D12
set_io io_dip[5] D11
set_io io_dip[6] C12
set_io io_dip[7] C11
set_io io_dip[8] D10
set_io io_dip[9] D9
set_io io_dip[10] D7
set_io io_dip[11] D6
set_io io_dip[12] C7
set_io io_dip[13] C6
set_io io_dip[14] A5
set_io io_dip[15] C5
set_io io_dip[16] D5
set_io io_dip[17] C4
set_io io_dip[18] D4
set_io io_dip[19] E4
set_io io_dip[20] F4
set_io io_dip[21] F3
set_io io_dip[22] H4
set_io io_dip[23] G4
set_io io_button[0] G11
set_io io_button[1] H11
set_io io_button[2] H12
set_io io_button[3] J12
set_io io_button[4] P2
set_io io_sel[0] G3
set_io io_sel[1] G1
set_io io_sel[2] H1
set_io io_sel[3] H3
set_io io_seg[0] J1
set_io io_seg[1] J3
set_io io_seg[2] N1
set_io io_seg[3] K4
set_io io_seg[4] K3
set_io io_seg[5] L1
set_io io_seg[6] M1
set_io io_seg[7] P1