set_io --warn-no-port RX 9
set_io --warn-no-port TX 8
set_io LED1 99
set_io LED2 98
set_io LED3 97
set_io LED4 96
set_io LED5 95
set_io clk 21
set_io D1 1
set_io D2 2
set_io D3 3
set_io D4 4
set_io D5 94
